body{
  background-image: url(https://www.axisstudiosgroup.com/site/assets/files/11953/a0991_goodgame_empire_pk_20sec265_copy.-full.jpg);
  background-size: cover;
  background: linear-gradient(rgba(153, 229, 250, 0.7), rgba(153, 229, 250, 0.7)) , url(https://www.axisstudiosgroup.com/site/assets/files/11953/a0991_goodgame_empire_pk_20sec265_copy.-full.jpg);
  background-position: center;
  /* background-blend-mode: color-dodge; */
  background-attachment: fixed;
  font-family: Copperplate, Papyrus, fantasy;
  align-items: center;
  
}
td{
  text-shadow: 20px;
  text-underline-position: below;
  box-shadow: 2 2;
}
.App {
  text-align: center;
  width:100%;
  height:100vh;
  /* background-color: rgba(136, 207, 237, 0.5); */

}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
